<h1>All Sites</h1>
<%= link_to "Add new site", new_site_url %>
<% @sites.each do |site| %>
<ul>
  <li><%= site.url %> <br>Status:
  <% if site.ping %>
    ✅
  <% else %>
    ❌
  <% end %>
</li> <%= button_to "Delete site", site_url(site), method: :delete %>
</ul>
<% end %>
