<h1>New Site</h1>
<form class="" action="<%= sites_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="token_value">
  URL
  <input type="text" name="site[url]" value="">
  <input type="submit" name="" value="Submit">
</form>
