@import "variables";
.index-main{
  flex: 1;
  background-color: #f9f9f9;
}

.content-header{
  background-color: $very-light-grey;
  h1{
    color: #969696;
    font-size: 22px;
    font-weight: 200;
    padding: 13px 65px;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid $light-grey-border;
    
  }
}

.index-header-title{
  margin-top: 7px;
}

// site partial view
.site-box{
  margin: 10px auto 10px auto;
  border: 1px solid $light-grey-border;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  transition-duration: 0.2s;
}
.site-box:hover{
  background: rgba(238, 163, 32, 0.7);
  transition-duration: 0.2s;
  transform: translate(-2px,-2px);
}

li{
  list-style:none 
}

.site{
  display: flex;
  p{
    margin: auto 10px;
  }
}

.index-wrapper{
  margin:40px auto 10px auto;
  width: 90%;
}

.cards-toolbar{
  right:1;
}
.pinger-holder{
  height: 39px;
  width: 150px;
  display: flex;
  align-content: center;
  align-items: center;
  display: inline-flex;
  color: white;
  font-weight: 400;
  font-size: 15px;
  
}
.pinger{
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: $dark-green !important;
  font-weight: bold;
  padding-bottom: 1px;
}

.site-status{
  div{
    margin: auto;
  }
}

.site-stat{
  display: flex;
}

.data-title{
  font-size: 11px;
  color: #838181;
}

footer.index{
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// https://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
div.profile:hover div.links > a{
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
  // color: lightblue;

}
div.profile:hover div.links > a:first-child{
  color: lightblue
}
div.profile:hover div.links > a:last-child{
  color: $status-up
}



// Hover message for 'i' font-awesome in index header
.hover-message .message-text{
  display: none;

}

.hover-message:hover .message-text{
   opacity: 1;
   padding: 15px;
   width: 320px;
   position: absolute;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  display: block;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); 
  top: 55px;
  margin-left:-35px;
  border: 1px solid #dddddd;
  background-color: white;
  
}

.message-text:before{
   content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  margin-left:22px;
  top: -6px;
  border-style: solid;
  border-width: 6px;
  border-color: white;
  box-shadow: -2px -2px 0 0 rgba(0, 0, 0, 0.15);
  transform: rotate(45deg);
}

.message-text{
  span{
    font-size: 15px;
    font-weight: 500;
  }
}

