@import "variables";
.index-main{
  flex: 1;
  background-color: #f9f9f9;
}

.content-header{
  background-color: $very-light-grey;
  h1{
    color: #969696;
    font-size: 22px;
    font-weight: 200;
    padding: 19px 65px;
    border-bottom: 1px solid $light-grey-border;
    
  }
}

.dialog{
  // background: color !important;
}

// site partial view
.site-box{
  margin: 10px auto 10px auto;
  border: 1px solid $light-grey-border;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  transition-duration: 0.2s;
}
.site-box:hover{
  background: rgba(238, 163, 32, 0.7);
  transition-duration: 0.2s;
  transform: translate(-2px,-2px);
}

li{
  list-style:none 
}

.site{
  display: flex;
  p{
    margin: auto 10px;
  }
}

.index-wrapper{
  margin:40px auto 10px auto;
  width: 90%;
}

.cards-toolbar{
  right:1;
}
.pinger-holder{
  position: absolute;
  right: 10vw;
  width: 40px;
  height: 40px;
  display: flex;
  align-content: center;
  align-items: center;
  

}
.pinger{

  border-radius: 20px;
  height: 100%;
  width: 100%;
}

footer.index{
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// https://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
div.profile:hover div.links > a{
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
  // color: lightblue;

}
div.profile:hover div.links > a:first-child{
  color: lightblue
}
div.profile:hover div.links > a:last-child{
  color: $status-up
}

