@import "variables";

.sidebar-logo{
  min-height: 65px;
  height: 65px;
  background-color: $orange;
}

.logo-image{
  margin: auto;
  font-size: 2.5rem;
  text-align: center;
  margin-top:8px;
}
.main-content{
    display:flex;
    
}


.sidebar{
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 100vh;
    background-color: $light-grey;
    color: white
}

.menu{
  height: 55px;
  cursor: pointer;
}

.menu-list{
  display: block;
  overflow-y: hidden;
  height: 200px;
	// max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .7s;
	
  

}
.dropdown{
  li{
    background-color: $dark-grey;
    height: 47px;

  }
}

.hidden{
  height: 0;
  transition-duration: .7s;
  
  
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease, position .2s;
}
.fade-enter, .fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;

}


