@import "variables";

.site{
  i{
    font-size: 2.5em;
  }
}

.up{
  color: $status-up;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $status-up-border;
}

.down{
  color: $status-down;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $status-down-border;
}