@import "variables";

.site{
  i{
    font-size: 2.5em;
  }
}

.site-inner-wrapper{
  display: flex;
}

.up{
  color: $status-up;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $status-up-border;
}

.down{
  color: $status-down;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $status-down-border;
}

#url{
  width: 270px;
}
#response{
  font-size: 3.7rem;
  margin: 0;
}
#unit{
  margin: auto 0 10px 4px;
}

.site-load{
  margin-left: 25px !important;
  width: 160px;
}
.site-response{
  width: 150px;
  // background: green;
}

.site-stat{
  float: right;
}

.left-indent-30{
  margin-left:30px !important;
}
.left-indent-50{
  margin-left:50px !important;
}

.is-danger {
  color: red;
}

.site-url{
  hr{
    width: 80%;
    margin: 5px;
    color: #eee;
    
  }
}