// Colors
$grey: #eee;
$orange: rgb(238, 163, 32);
$dark-grey: #383838;
$light-grey: #444;
$very-light-grey: #F7F7F7;
$light-grey-border: #E6E6E6;
$status-up: #9ae944;
$status-up-border: #88c740;
$status-down: #fc4d51;
$status-down-border: #ce5458;
$white: #fff;
$theme-color: #ec981e;
// Fonts
